* {
    outline: none;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: large;
}

/* MATERIAL DESING INSPIRED THEME */
:root {
    --bg: #0E2942;
    --bg-alt: #084B70;
    --main: #126180;
    --maintr: #12618070;
    --main-li: #A3C8E7;
    --accent: #FF5F1F;


    --on-bg: #fff;
    --on-main: #fff;
    --on-accent: #fff;
    --neutral: #999;

    --glass: #0003;
    --shadow: #0007;
    --highlight: #fff5;
    --transition-short: 0.15s;
    --transition-medium: 0.3s;
    --transition-long: 0.6s;

    --radius-normal: 0.3em;
    --radius-high: 0.6em;
}

/* paleta clara Columbia Blue #CDE4F4 Indigo dye #084B70 Powder Blue #A3C8E7 paleta oscura prussian blue #0E2942 lapis lazuli #126180 Indigo dye #084B70 */

/* CONTAINERS */
body {
    background-color: var(--bg);
    width: 100dvw;
    height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    overflow-x: hidden;
    font-size: 1.3rem;
}

main {
    height: 100dvh;
    width: 100dvw;
}

section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    padding: 1rem 5vw 4rem 12vw;
    overflow-y: auto;

    &>div {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3rem;
    }
}

#home {
    --s: 10dvw;
    /* control the size*/
    --c1: #0E2942;
    --c2: #0b2238;
    --c3: #081c2e;

    --_g: var(--c3) 0 120deg, #0000 0;
    background:
        /* making it darker*/
        linear-gradient(to left, #0007, #0007),
        conic-gradient(from -60deg at 50% calc(100%/3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200%/3), var(--_g)),
        conic-gradient(from 60deg at calc(200%/3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0),
        conic-gradient(from 180deg at calc(100%/3), var(--c1) 60deg, var(--_g)),
        linear-gradient(90deg, var(--c1) calc(100%/6), var(--c2) 0 50%,
            var(--c1) 0 calc(500%/6), var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
    background-attachment: fixed;
}

#projects {
    --s: 20dvw;
    /* control the size*/
    --c1: #0a2136;
    --c2: #0c253d;
    --c3: #0E2942;
    --c4: #081c2e;
    --c5: #0a2135;

    --_g: conic-gradient(from 30deg at 50% 25%, #0000 300deg, var(--c1) 0);
    background:
        /* making it darker*/
        linear-gradient(to left, #0007, #0007),
        var(--_g) calc(0.2885*var(--s)) calc(7*var(--s)/12),
        var(--_g) 0 calc(var(--s)/12),
        conic-gradient(from 120deg at 50% calc(250%/3), var(--c2) 120deg, #0000 0),
        repeating-conic-gradient(from 30deg, #0000 0 60deg, var(--c3) 0 120deg),
        repeating-conic-gradient(var(--c4) 0 60deg, var(--c2) 0 120deg, var(--c5) 0 180deg);
    background-size: calc(0.577*var(--s)) var(--s);
    background-attachment: fixed;

    & .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &>div {
            aspect-ratio: 8/10;
            background: var(--bgi);
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 1rem;

            &>div {
                background-color: var(--bg);
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 0.5em;
                border-radius: 0 0 1rem 1rem;
            }
        }
    }
}


footer {
    width: auto;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 100vh;
    background-color: #000a;
    backdrop-filter: blur(5px);
    z-index: 1000;

    & nav {
        width: 100%;
        align-self: center;
        top: -3rem;
        color: white;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            list-style: none;
            align-items: start;

            & li {
                width: 100%;
                display: flex;
                padding-left: 0.25rem;
                align-items: center;
                justify-content: center;

                & a {
                    width: 100%;
                    text-decoration: none;
                    color: var(--on-bg);
                    padding: 1ch 0.5ch;
                    font-weight: bold;
                }

                & a::after {
                    content: attr(content);
                    pointer-events: none;
                    opacity: 0;
                    font-family: "Rajdhani", sans-serif;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateX(100%);
                    padding: inherit;
                    background-color: #000e;
                    text-align: center;
                    transition: 0.3s all linear 0.15s;
                    backdrop-filter: blur(10px);
                }

                & a:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}

#header {
    /* background: url("https://c.pxhere.com/photos/fe/77/fibre_fiber_optics_blender_4k_resolution_wallpaper-573469.jpg!d"); */
    background: url("https://www.grapheverywhere.com/wp-content/uploads/2021/11/businessman-using-flying-network-connection-3d-rendering.jpg");
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-columns: 30vw;
    justify-content: center;
    align-items: center;
    color: var(--on-bg);

    &>div {
        display: flex;
        flex-direction: column;
        align-items: start;

        &> :is(h2, h4) {
            text-align: left;
            padding: 0;
            margin: 0;
        }

        &>span {
            position: absolute;
            font-size: 12rem;
            left: -6rem;
            top: 0;
            line-height: 5rem;
            padding: 0;
            margin: 0;
            text-shadow: -5px -5px 0 #fff6, -10px -10px 0 #fff3;
        }
    }

    &>span {
        position: absolute;
        bottom: 2ch;
        left: 35vw;
        font-size: 1.5rem;
        color: var(--neutral);
    }
}



/* TEXT ELEMENTS */
:is(h1, h2, a) {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: var(--main-li);
    text-shadow: 0 0 0.1em var(--main-li);
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1em;
}

:is(h3, h4, h5, h6, label) {
    margin: 1ch 0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-li);
}

.handwriting {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

:is(p, span, input) {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    color: var(--on-bg);
}

/* INPUTS */
.input {
    display: flex;
    flex-direction: row-reverse;
    /* grid-template-columns: 0.35fr 0.75fr; */
    align-items: center;
    justify-content: start;
    margin: 0.5ch 0;

    &>label {
        font-size: large;
        padding-right: 1ch;
        width: 12ch;
        text-align: end;
        transition: var(--transition-medium) color ease-in-out;
    }

    &>input:is(:hover, :focus, :focus-visible)+label {
        color: var(--accent);
    }


    /* input icons */
    &>label::after {
        font-family: 'Material Symbols Outlined';
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 1;
        -webkit-font-feature-settings: 'liga' 1;
        -moz-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1;
        font-size: large;
        position: absolute;
        right: -24px;
        color: var(--on-bg);
        transition: var(--transition-medium) color ease-in-out;
    }

    &>input:is(:hover, :focus, :focus-visible)+label::after {
        color: var(--accent);
    }

    &>input:is([type="name"],
        [type="password"],
        [type="email"],
        [type="address"],
        [type="search"]) {
        padding-left: 2.5ch;
    }

    &>input[type="date"] {
        padding-left: 2.5ch;
        width: 22ch;
    }

    &>input[type="date"]::-webkit-calendar-picker-indicator {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
    }

    &>input[type="name"]+label::after {
        content: 'person';
    }

    &>input[type="password"]+label::after {
        content: 'key';
    }

    &>input[type="email"]+label::after {
        content: 'mail';
    }

    &>input[type="address"]+label::after {
        content: 'home';
    }

    &>input[type="date"]+label::after {
        content: 'calendar_month';
    }

    &>input[type="search"]+label::after {
        content: 'search';
        transform: rotateY(180deg);
    }
}

input {
    font-size: large;
    height: 3ch;
    width: 22ch;
    background-color: #0002;
    outline: none;
    border: none;
    border-bottom: 0.2ch solid var(--neutral);
    border-radius: var(--radius-high);
    padding: 0 1ch;
    padding-top: 0.4ch;
    transition: var(--transition-medium) all ease-in-out;
}

input:is(:hover, :focus, :focus-visible) {
    border-bottom: 0.2ch solid var(--accent);
    background-color: #0001;
}

/* MATERIAL BUTTON */
button {
    font-size: large;
    background-color: var(--main);
    color: var(--on-accent);
    padding: 0 3ch;
    height: 3ch;
    border: none;
    outline: none;
    box-shadow: 0 0 0.5ch 0.1ch var(--shadow);
    overflow: hidden;
    transition: var(--transition-medium) background-color ease-in-out;
    margin: 1ch;
}

button:is(:hover, :focus-visible) {
    background-color: var(--accent);
    box-shadow: 0 0 0.5ch 0.1ch var(--accent);
}

/* AFTER ELEMENT */
button::after {
    --posy: -250px;
    --posx: -250px;
    pointer-events: none;
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform-origin: 0 0;
    background-color: var(--highlight);
    top: var(--posy);
    left: var(--posx);
    scale: 1;
    transition: var(--transition-long) all ease-out;
}

button:hover::after {
    top: 50%;
    left: 50%;
    scale: 0.0001;
}